
# dependencies
node_modules
../.vs
# next.js
.next/
out/

# misc
.DS_Store
*.pem

# env files
.env*.local
.env

# ts build
tsconfig.tsbuildinfo

# CDK assets
.cdk.staging
cdk.out
cdk.context.json
.vs/VSWorkspaceState.json
.vs/VoltChess/v17/DocumentLayout.json
.vs/VoltChess/v17/DocumentLayout.backup.json
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VoltChess/CopilotIndices/17.14.794.21998/CodeChunks.db
.vs/VoltChess/CopilotIndices/17.14.794.21998/CodeChunks.db-shm
.vs/VoltChess/CopilotIndices/17.14.794.21998/CodeChunks.db-wal
.vs/VoltChess/CopilotIndices/17.14.794.21998/SemanticSymbols.db
.vs/VoltChess/CopilotIndices/17.14.794.21998/SemanticSymbols.db-shm
.vs/VoltChess/CopilotIndices/17.14.794.21998/SemanticSymbols.db-wal
.vs/VoltChess/FileContentIndex/12437ccd-ca95-49ac-adb0-ca86f5c84b91.vsidx
.vs/VoltChess/FileContentIndex/bf84b2d0-add7-4a70-9997-f7c4ed2a1551.vsidx
.vs/VoltChess/FileContentIndex/cc03aaeb-56a0-4dee-a31c-736100053f53.vsidx
.vs/VoltChess/FileContentIndex/d7543bf2-f010-4599-971b-1d0de8b78a55.vsidx
.vs/VoltChess/FileContentIndex/e24330b7-ac8f-409b-999f-5573b364aebd.vsidx
.vs/VoltChess/v17/.wsuo
.vs/VoltChess/FileContentIndex/ef2f6da1-86f8-4306-9d91-c7d26b01d6f3.vsidx
.vs/VoltChess/FileContentIndex/4675b54d-4b4e-4de2-9ac4-fcac811eac3d.vsidx
.vs/VoltChess/FileContentIndex/079e13cc-2e32-44ef-b6ff-010f32940337.vsidx
.vs/VoltChess/FileContentIndex/10e98ea7-ee4e-403c-8f52-e60df42e0150.vsidx
